/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

.spectrum-InputGroup--sizeS {
  --spectrum-combobox-block-size: var(--spectrum-component-height-75);
  /* --spectrum-combobox-icon-size: var(--spectrum-workflow-icon-size-75); */
  --spectrum-combobox-font-size: var(--spectrum-font-size-75);

  --spectrum-combobox-inline-spacing-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-small);
  --spectrum-combobox-block-spacing-edge-to-icon: var(--spectrum-field-top-to-alert-icon-small);
  --spectrum-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-small);
  --spectrum-combobox-spacing-block-start-edge-to-textfield: var(--spectrum-component-top-to-text-75);
  --spectrum-combobox-spacing-block-end-edge-to-textfield: var(--spectrum-component-bottom-to-text-75);
  --spectrum-combobox-spacing-inline-start-edge-to-textfield: var(--spectrum-component-edge-to-text-75);
}

.spectrum-InputGroup--sizeM {
  --spectrum-combobox-block-size: var(--spectrum-component-height-100);
  /* --spectrum-combobox-icon-size: var(--spectrum-workflow-icon-size-100); */
  --spectrum-combobox-font-size: var(--spectrum-font-size-100);

  --spectrum-combobox-inline-spacing-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-medium);
  --spectrum-combobox-block-spacing-edge-to-icon: var(--spectrum-field-top-to-alert-icon-medium);
  --spectrum-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-medium);
  --spectrum-combobox-spacing-block-start-edge-to-textfield: var(--spectrum-component-top-to-text-100);
  --spectrum-combobox-spacing-block-end-edge-to-textfield: var(--spectrum-component-bottom-to-text-100);
  --spectrum-combobox-spacing-inline-start-edge-to-textfield: var(--spectrum-component-edge-to-text-100);
}

.spectrum-InputGroup--sizeL {
  --spectrum-combobox-block-size: var(--spectrum-component-height-200);
  /* --spectrum-combobox-icon-size: var(--spectrum-workflow-icon-size-200); */
  --spectrum-combobox-font-size: var(--spectrum-font-size-200);

  --spectrum-combobox-inline-spacing-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-large);
  --spectrum-combobox-block-spacing-edge-to-icon: var(--spectrum-field-top-to-alert-icon-large);
  --spectrum-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-large);
  --spectrum-combobox-spacing-block-start-edge-to-textfield: var(--spectrum-component-top-to-text-200);
  --spectrum-combobox-spacing-block-end-edge-to-textfield: var(--spectrum-component-bottom-to-text-200);
  --spectrum-combobox-spacing-inline-start-edge-to-textfield: var(--spectrum-component-edge-to-text-200);
}

.spectrum-InputGroup--sizeXL {
  --spectrum-combobox-block-size: var(--spectrum-component-height-300);
  /* --spectrum-combobox-icon-size: var(--spectrum-workflow-icon-size-300); */
  --spectrum-combobox-font-size: var(--spectrum-font-size-300);

  --spectrum-combobox-inline-spacing-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-extra-large);
  --spectrum-combobox-block-spacing-edge-to-icon: var(--spectrum-field-top-to-alert-icon-extra-large);
  --spectrum-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-extra-large);
  --spectrum-combobox-spacing-block-start-edge-to-textfield: var(--spectrum-component-top-to-text-300);
  --spectrum-combobox-spacing-block-end-edge-to-textfield: var(--spectrum-component-bottom-to-text-300);
  --spectrum-combobox-spacing-inline-start-edge-to-textfield: var(--spectrum-component-edge-to-text-300);
}

.spectrum-InputGroup {
  /* Placeholders */
  /* --spectrum-global-dimension-size-100: 10px; */
  /* --spectrum-global-dimension-size-400: 40px; */

  --spectrum-combobox-button-size: 32px;
  
  --spectrum-combobox-min-inline-size: var(--spectrum-combo-box-minimum-width-multiplier);
  --spectrum-combobox-block-size: var(--spectrum-component-height-100);
  /* --spectrum-combobox-icon-size: var(--spectrum-workflow-icon-size-100); */
  --spectrum-combobox-font-size: var(--spectrum-font-size-100);

  --spectrum-combobox-inline-spacing-icon-to-button: var(--spectrum-combo-box-visual-to-field-button-medium);
  --spectrum-combobox-block-spacing-edge-to-icon: var(--spectrum-field-top-to-alert-icon-medium);
  --spectrum-combobox-spacing-edge-to-menu: var(--spectrum-component-to-menu-medium);
  --spectrum-combobox-spacing-block-start-edge-to-textfield: var(--spectrum-component-top-to-text-100);
  --spectrum-combobox-spacing-block-end-edge-to-textfield: var(--spectrum-component-bottom-to-text-100);
  --spectrum-combobox-spacing-inline-start-edge-to-textfield: var(--spectrum-component-edge-to-text-100);

  /* --spectrum-combobox-focus-indicator-thickness: var(--spectrum-focus-indicator-thickness); */
  /* --spectrum-combobox-focus-indicator-gap: var(--spectrum-focus-indicator-gap); */
  /* --spectrum-combobox-focus-indicator-color: var(--spectrum-focus-indicator-color); */

  --spectrum-combobox-border-radius: var(--spectrum-corner-radius-100);
  --spectrum-combobox-border-width: var(--spectrum-border-width-100);

  --spectrum-combobox-spacing-label-to-combobox: var(--spectrum-field-label-to-component);

  --spectrum-combobox-font-family: var(--spectrum-font-family-default);
}

.spectrum-InputGroup--quiet {
  --spectrum-combobox-min-inline-size: var(--spectrum-combo-box-quiet-minimum-width-multiplier);
  /* TODO Check if this makes sense */
  --spectrum-combobox-spacing-block-start-to-border: var(--spectrum-field-edge-to-border-quiet);
  --spectrum-combobox-spacing-inline-start-to-textfield: var(--spectrum-field-edge-to-text-quiet);
}

.spectrum-InputGroup {
  /* Todo: move to DNA */
  --spectrum-combobox-quiet-fieldbutton-border-radius: 0;

  /* --spectrum-inputgroup-generic-padding: var(--spectrum-global-dimension-size-150); */

  /* --spectrum-datepicker-range-input-width-first: calc(
    var(--spectrum-global-dimension-size-1600) - 2 * var(--spectrum-inputgroup-generic-padding)
  );
  --spectrum-datepicker-input-width-base: calc(
    var(--spectrum-datepicker-range-input-width-first) +
      var(--spectrum-textfield-m-texticon-icon-size)
  ); */
  /* todo: when we add t-shirt sizing, this will be wrong ❤️ */
  /* --spectrum-datepicker-input-width: calc(
    var(--spectrum-datepicker-input-width-base) +
      var(--spectrum-alias-infieldbutton-full-height-m)
  );
  --spectrum-datepicker-range-input-width-quiet-first: calc(
    var(--spectrum-global-dimension-size-900) +
      var(--spectrum-global-dimension-size-200)
  );
  --spectrum-datepicker-input-width-quiet: calc(
    var(--spectrum-datepicker-range-input-width-quiet-first) +
      var(--spectrum-textfield-m-texticon-icon-size) +
      var(--spectrum-alias-infieldbutton-full-height-m)
  );

  --spectrum-datepicker-datetime-input-width-first: calc(
    var(--spectrum-datepicker-input-width-base) +
      var(--spectrum-global-dimension-size-450)
  ); */
  /* todo: when we add t-shirt sizing, this will be wrong ❤️ */
  /* --spectrum-datepicker-datetime-input-width: calc(
    var(--spectrum-datepicker-datetime-input-width-first) +
      var(--spectrum-textfield-m-texticon-icon-size) +
      var(--spectrum-alias-infieldbutton-full-height-m)
  );

  --spectrum-datepicker-datetime-quiet-input-width-first: calc(
    var(--spectrum-datepicker-input-width-base) +
      var(--spectrum-global-dimension-size-300)
  );
  --spectrum-datepicker-datetime-quiet-input-width: calc(
    var(--spectrum-datepicker-datetime-quiet-input-width-first) +
      var(--spectrum-textfield-m-texticon-icon-size) +
      var(--spectrum-alias-infieldbutton-full-height-m)
  );

  --spectrum-datepicker-range-dash-margin-left: calc(
    -0.5 * var(--spectrum-global-dimension-static-font-size-100)
  );
  --spectrum-datepicker-range-dash-padding-top: 0; */

  /* todo: when we add t-shirt sizing, this will be wrong ❤️ */
  /* --spectrum-textfield-m-texticon-height  */
  /* --spectrum-datepicker-range-dash-line-height: calc(
    var(--spectrum-global-dimension-size-400) - var(--spectrum-global-dimension-size-100)
  ); */

  /* todo: when we add t-shirt sizing, this will be wrong ❤️ */
  /* --spectrum-textfield-icon-inline-end-override: calc(var(--spectrum-alias-infieldbutton-full-height-m) + var(--spectrum-global-dimension-size-100)); */
}

/* hack: use var so it doesn't disappear */
/* .🤫 {
  width: var(--spectrum-textfield-icon-inline-end-override);
} */

.spectrum-InputGroup {
  position: relative;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  min-inline-size: var(--spectrum-combobox-min-inline-size);
  block-size: var(--spectrum-combobox-block-size);

  margin-block-start: var(--spectrum-combobox-spacing-label-to-combobox);

  border-radius: var(--spectrum-combobox-border-radius);
  border-width: var(--spectrum-combobox-border-width);

  & .is-open.spectrum-Popover {
    transform: translateY(var(--spectrum-combobox-spacing-edge-to-menu));
  }

  .spectrum-InputGroup-input {
    padding-block-start: var(--spectrum-combobox-spacing-block-start-edge-to-textfield);
    padding-block-end: var(--spectrum-combobox-spacing-block-end-edge-to-textfield);
    padding-inline-start: var(--spectrum-combobox-spacing-inline-start-edge-to-textfield);
  }
}

.spectrum-InputGroup-textfield-icon {
  position: absolute;
  inset-inline-end: calc(var(--spectrum-combobox-inline-spacing-icon-to-button) + var(--spectrum-combobox-button-size));
  inset-block-start: var(--spectrum-combobox-block-spacing-edge-to-icon);
  inset-block-end: var(--spectrum-combobox-block-spacing-edge-to-icon);
}


.spectrum-InputGroup-button {
  /* Be above textfield so box shadow shines through */
  position: absolute;
  inset-inline-end: 0;
}

.spectrum-InputGroup-input {
  /* todo: when we add t-shirt sizing, this will be wrong ❤️ */
  /* padding-right: var(--spectrum-alias-infieldbutton-full-height-m); */

  /* fill space */
  flex: 1;

  /* TODO inspect this */
  &::placeholder {
    font-size: var(--spectrum-combobox-font-size);
    font-family: var(--spectrum-combobox-font-family);
  }
}

.spectrum-InputGroup--quiet {
  border-radius: var(--spectrum-combobox-quiet-fieldbutton-border-radius);

  /* todo: when we add t-shirt sizing, this will be wrong ❤️ */
  /* --spectrum-textfield-icon-inline-end-override: var(--spectrum-alias-infieldbutton-full-height-m); */

  .spectrum-InputGroup-button {
    inline-size: auto;

    /* TODO */
    /* inset-inline-end: calc(-1 * var(--spectrum-alias-combobox-quiet-button-offset-x)); */
  }


 .spectrum-InputGroup-input {
    padding-block-end: var(--spectrum-combobox-spacing-block-start-to-border);
    padding-inline-start: var(--spectrum-combobox-spacing-inline-start-to-textfield);
  }
}
