@container (--system: express) {
  .spectrum-InputGroup {
    --spectrum-combobox-border-color-default: var(--spectrum-gray-400);
    --spectrum-combobox-border-color-hover: var(--spectrum-gray-500);
    --spectrum-combobox-border-color-active: var(--spectrum-gray-900);
    --spectrum-combobox-border-color-key-focus: var(--spectrum-gray-900);
  }
}
